<div [ngClass]="alert" class="alert" role="alert">
    A simple primary alert—check it out!
</div>

<button class="btn btn-info" (click)="alert = 'alert-info'">switch</button>
<button class="btn btn-success" (click)="alert = 'alert-success'">switch</button>


<h3 [ngClass]="{ 'text-danger': propiedades.danger, 'text-info': !propiedades.danger   }">Hola mundo</h3>

<button class="btn btn-dark" (click)="propiedades.danger = !propiedades.danger">cambiar clase</button>
<br>
<br>
<button (click)="ejecutar()" class="btn btn-primary" type="button" name="button" [disabled]="loading">
        <i [ngClass]="{'fas fa-save':!loading, 'fas fa-sync-alt fa-spin': loading}"></i>
       <span *ngIf="!loading" >Guardar Cambios</span> 
       <span *ngIf="loading" >Espere por favor</span>
</button>